<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="momentum-marknad">

  <style>
    /* Set iframe to 100% */

    iframe {
       width: 100%;
       min-height: 600px;
    }
  </style>

  <template>
    <!-- local DOM for your element -->
    <iframe id="momentum" src={{iframeSrc}} scrolling="no" frameBorder="0"></iframe> <!-- data bindings in local DOM -->
  </template>

  <script>

    // element registration
   MomentumMarknad = Polymer({
      is: "momentum-marknad",

      // add properties and methods on the element's prototype

      properties: {
        // declare properties for the element's public API
        baseUrl: {
          type: String //required
        },
        page: {
          type: String,
          value: 'pgSearchResult.aspx'
        },
        iframeSrc: {
          type: String,
          computed: '_computeIframeSrc(baseUrl, page)'
        },
        noscroll: {
          type: Boolean,
          value: false
        },
        hidemenu: {
          type: Boolean,
          value: false
        },
        loginPage: {
          type: String
        }
      },

      errorMessages: {
        MISSING_URL_PARAM: 'Missing url property'
      },

      _validateUrlParam(url) {
        if (!url) {
            this._triggerError(this.errorMessages.MISSING_URL_PARAM);
        }
      },

      attached: function() {
        this._validateUrlParam(this.baseUrl);
      },

     factoryImpl: function(baseUrl, designFolder, noscroll, hidemenu, loginPage){
        this._validateUrlParam(baseUrl);

        this.baseUrl = baseUrl;

        if(designFolder)
          this.designFolder = designFolder;

         if(noscroll)
          this.noscroll = noscroll;

         if(hidemenu)
          this.hidemenu = hidemenu;

         if(loginPage)
          this.loginPage = login
     },

     _triggerError: function(error) {
        throw new Error(error);
     },

     ready: function() {
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        var self = this;
        var requestedPageViaQueryParam = self._getQueryParameterByName('url');

        if(requestedPageViaQueryParam) {
          self.page = requestedPageViaQueryParam;
        }

        if(self.hidemenu) {
          self.baseUrl = self.baseUrl + "?hideMenu=true";
        }


        // Listen to message from iframe
        eventer(messageEvent,function(e) {
          var msg = e.data;

          if(msg.type == "newheight") {
            self.$.momentum.style.height = e.data.data + "px";
          }

          if(msg.type == "page-visit") {
            if(!self.noscroll) {
                window.scrollTo(0,0);
            }

            self.fire("page-visit", msg.data);
          }

          if(msg.type == "event") {
            switch(msg.name) {
              case "momentumEvents.loginRequired":
                self.fire("login-required", msg.data);
                if(self.loginPage) {
                  var encodedReturnURL = encodeURIComponent(msg.data);
                  var loginPage = (self.loginPage[0] != "/" ? "/" : "");
                  loginPage += self.loginPage + (self.loginPage.indexOf("?") == -1 ? "?url=" : "&url=") + encodedReturnURL
                  window.location = loginPage;
                }
                break;

              case "momentumEvents.clientRegistered":
                self.fire("client-registered", msg.data);
                break;

              case "momentumEvents.updateLoginStatus":
                self.fire("user-logged-in", msg.data);
                break;
            }
          }

        },false);
      },

      _computeIframeSrc: function(baseUrl, page) {
        var page = (page[page.length] === '/' ? page.substr(1) : page);
        var iframeSrc = (baseUrl[baseUrl.length] === '/' ? baseUrl + page : baseUrl + '/' + page);
        return iframeSrc;
      },

      _getQueryParameterByName: function(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/gi, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS, "i");
        var results = regex.exec(window.location.href);
        if (results == null) {
            return "";
        } else {
          return decodeURIComponent(results[1].replace(/\+/gi, " "));
        }
      }
    });
  </script>

</dom-module>
