<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="momentum-login">

  <style>
    /* Set iframe to 100% */

    section#momentum-login-section {
       width: 100% !important;
    }

    div.momentum-form-group {
      margin-bottom: 10px;
    }

    div.momentum-form-group button, div.momentum-form-group input[type="text"], div.momentum-form-group input[type="password"] {
      width: 100%;
    }

    iframe {
      display: none;
      position: absolute;
      top: -9999px;
      width: 0px;
      height: 0px;
    }

    div.no-margin-bottom {
      margin-bottom: 0px;
    }

    div.error-message {
      padding-top: 10px;
      color: red;
    }

  </style>

  <template>
    <!-- local DOM for your element -->
    <form id="momentum-login-section" on-submit="_doLogin">
      <div class="momentum-form-group">
        <input id="username" type="text" on-keyup="_validateForm" class$="[[inputClass]]" placeholder$="[[phUsername]]">
      </div>
      <div class="momentum-form-group">
        <input id="password" type="password" on-keyup="_validateForm" class$="[[inputClass]]" placeholder$="[[phPassword]]">
      </div>
      <div class="momentum-form-group">
        <input id="rememberMe" type="checkbox" class$="[[checkboxClass]]"> <span>[[labelRememberMe]]</span>
      </div>
      <div class="momentum-form-group no-margin-bottom">
        <button id="login" type="submit" disabled class$="[[buttonClass]]">[[labelLogin]]</button>
        <div class="error-message">[[labelLoginError]]</div>
      </div>
      <iframe src$="{{sessionStarterUrl}}" on-load="_onSessionStarterLoad"></iframe>
    </form>
  </template>

  <script>
    //global private variables to track how many times on-load="_onApiLoginLoaderLoad" has been trigged.
    //it will first trigger without the APILoginLoader.aspx page and after its computed trigger once again.
    var iframeOnLoadCalls = 0;
    var sessionStarted = function() {
      return (iframeOnLoadCalls == 2);
    };

    var loadJSONP = (function(){
      var unique = 0;
      return function(url, callback, context) {
        // INIT
        var name = "_jsonp_" + unique++;
        if (url.match(/\?/)) url += "&callback="+name;
        else url += "?callback="+name;
        
        // Create script
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = url;
        
        // Setup handler
        window[name] = function(data){
          callback.call((context || window), data);
          document.getElementsByTagName('head')[0].removeChild(script);
          script = null;
          delete window[name];
        };
        
        // Load JSON
        document.getElementsByTagName('head')[0].appendChild(script);
      };
    })();    

    // element registration
   MomentumLogin = Polymer({
      is: "momentum-login",

      // add properties and methods on the element's prototype

      properties: {
        // declare properties for the element's public API
        url: {
          type: String //required
        },
        inputClass: {
          type: String
        },
        checkboxClass: {
          type: String
        },
        buttonClass: {
          type: String
        },
        phUsername: {
          type: String,
          value: 'Användarnamn'
        },
        phPassword: {
          type: String,
          value: 'Lösenord'
        },
        labelRememberMe: {
          type: String,
          value: 'Kom ihåg mitt användarnamn'
        },
        labelLogin: {
          type: String,
          value: 'Logga in'
        },
        labelLoginError: {
          type: String
        },        
        loginRedirect: {
          type: String
        },
        sessionStarterUrl: {
          type: String,
          computed: '_computeSessionStarterUrl(url, "APILoginLoader.aspx")'
        },
        apiUrl: {
          type: String,
          computed: '_computeApiUrl(url, "API/Service/AuthorizationServiceHandler.ashx?syndicateNo=1&companyNo=-1&username={username}&password={password}&Method=APILogin")'
        }
      },

      _localStorageKeys: {
        USERNAME: 'momentumsoftware/username'
      },
      ready: function() {
        this._validateAttributes();
        this._initializeState();
      },

      _validateAttributes: function() {
        if(!this.url) {
          throw new Error('url attribute is not defined');
        }
      },

      _validateForm: function(event) {
        this.$.login.disabled = ((this.$.username.value == '') || (this.$.password.value == ''));
      },

      _initializeState: function() {
        var savedUsername = localStorage.getItem(this._localStorageKeys.USERNAME);
        if(savedUsername)
        {
          this.$.username.value = savedUsername;
          this.$.rememberMe.checked = true;
        }
      },

      _doLogin: function(event) {
        event.preventDefault();
        var self = this;
        this.$.username.value;
        if(this.$.rememberMe.checked) {
          localStorage.setItem(this._localStorageKeys.USERNAME, this.$.username.value);
        } else {
          localStorage.removeItem(this._localStorageKeys.USERNAME);
        }

        this._callLoginAPI(this.$.username.value, this.$.password.value, 
          function(user) {
            self.fire('user-logged-in', user); 
            if(self.loginRedirect) {
                window.location = (self.loginRedirect[0] === '/' ? self.loginRedirect : '/' + self.loginRedirect);
            }            
          }, 
          function(msg) {
            self.fire('user-rejected', msg);
            console.log(msg);
            self.labelLoginError = msg;
          }
        );
      },

      _callLoginAPI: function(username, password, onSuccess, onError) {
        var self = this;
        var requestUrl = self.apiUrl.replace('{username}', username).replace('{password}', password);
        loadJSONP(requestUrl, 
          function(response) {
            if(!response)
            {
              onError('Inloggningstjänsten svarar inte');
            } else {
              if(response.LoggedIn) {
                onSuccess(response)
              } else {
                onError(self._getErrorMessage(response.ReturnCode));
              }
            }
          }
        );
      },
      _computeSessionStarterUrl: function(url, page) {
          var sessionStarterUrl = (url[url.length] === '/' ? url : url + '/' + page);
          return sessionStarterUrl;
      },

      _computeApiUrl: function(url, endpoint){
        var apiUrl = (url[url.length] === '/' ? url : url + '/' + endpoint);
        return apiUrl;
      },

      _onSessionStarterLoad: function() {
        iframeOnLoadCalls++;
      },

      _getErrorMessage: function(returnCode) {
        switch (returnCode) {
          case 'NOMATCH':
            return 'Felaktiga inloggningsuppgifter';
          case 'BLOCKED':
            return 'Ditt konto är spärrat';
          default: 
            return 'Ett okänt fel med dina inloggningsupgifter. Kontakta bostadsbolaget för mer info.'
        }

      }
    });
  </script>

</dom-module>
